@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white;
}

.header-container::before {
  background: radial-gradient(
    62.87% 100% at 50% 100%,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.font-name {
  /* ahann. */
  background: linear-gradient(
    90deg,
    #16cdd5 0%,
    rgba(22, 205, 213, 0.723958) 15.06%,
    rgba(22, 205, 213, 0) 100.31%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.hero-section {
  min-height: 100vh;
}

@media (min-height: 768px) {
  .hero-section {
    min-height: 40rem;
    height: 768px;
    max-height: 768px;
    overflow-y: hidden;
  }
}
